/* Add you custom css here */
.nearby-widget {
  padding: 0px;
}

.distances {
  margin-bottom: 12px;
}

.distance-item, .amenity-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  font-size: 15px;
  color: #1c2a3a;
}

.distance-item .directorist-icon-mask,
.amenity-item .directorist-icon-mask {
  margin-top: 2px;
  margin-right: 8px;
  font-size: 18px;
}

.amenities-title {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: bold;
  color: #1c2a3a;
}

.amenities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 12px;
}
